/* general */
:root{
  --blue: #47ADF1;
  --violet: #9C72E4;
  --green: #63BFA8;
  --orange: #F19D32;
  --pink: #D863A1;
  --lime: #B0C926;
  --cross: #ee827d;
  --grey: #F6F8F9;
  --white: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--grey);
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header{
  /* distanza contenuto e contenitore */
  padding: 5px 20px;
  /* distanza contenitori */
  margin-bottom: 30px;
}

.bg-white{
  background-color: var(--white);
}

#logo h1{
display: inline-block;
vertical-align: middle;
}

#logo img{
  vertical-align: middle;
}

/* main */
.container {
  width: 70%;
  margin: 0px auto;
  border-radius: 10px;
}

ul{
  list-style: none;
}
.top-bar {
  padding: 10px 40px;
  border-bottom: 2px solid var(--grey);
}

/* pulsanti */
.button{
padding: 5px 10px;
border: none;
border-radius: 5px;
}

.button-section{
border: 2px solid lightgray;
color: lightgray;
background-color:var(--white);
}

.button-task{
  border: 2px solid var(--blue);
  color: var(--white);
  background-color: var(--blue);
}

/* Elenchi */


span{
  color: white;
  font-size: 8px;
  border-radius: 5px;
  padding: 0.5%;
  background-color: black;
}
.Editorial{
  background-color: #47ADF1;
}
.Q1 {
  background-color: #9C72E4;
}
.Recruiting {
  background-color: #63BFA8;
}
.Mobile {
  background-color: #F19D32;
}
.Website {
  background-color: #D863A1;
}
.Sales {
  background-color: #B0C926;
}
li {
  padding-bottom: 20px;
}
